body {
    font-family: Arial;
    background: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
}

#chatBox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
